<?xml version='1.0' encoding='iso-8859-1'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2003/01/wi'>
	<Fragment Id='FragmentExtensions'>
		<DirectoryRef Id='INSTALLDIR'>
			<Component Id="fdftkDLL" DiskId="1" Guid="C54716D6-F1C6-4366-AD1E-8C2DB1686801">
				<File Id="filefdftkDLL" Name="fdftk.dll" Source="Files\fdftk.dll" />
			</Component>
			<Component Id="gds32DLL" DiskId="1" Guid="D70180EF-1AE2-45FF-B79F-DF16056F972D">
				<File Id="filegds32DLL" Name="gds32.dll" Source="Files\gds32.dll" />
			</Component>
			<Component Id="libeay32DLL" DiskId="1" Guid="1BF3C9B6-6495-476E-85B8-2843B5F5458D">
				<File Id="filelibeay32DLL" Name="libeay32.dll" Source="Files\libeay32.dll" />
			</Component>
			<Component Id="libmcryptDLL" DiskId="1" Guid="34402BFF-5D45-4A07-89EF-C71F4DF3D9BF">
				<File Id="filelibmcryptDLL" Name="LIBMCR_1.DLL" LongName="libmcrypt.dll" Source="Files\libmcrypt.dll" />
			</Component>
			<Component Id="libmhashDLL" DiskId="1" Guid="D19BD1F8-8041-4D0A-809C-57BB69619683">
				<File Id="filelibmhashDLL" Name="libmhash.dll" Source="Files\libmhash.dll" />
			</Component>
			<Component Id="libmysqlDLL" DiskId="1" Guid="4726DE50-BC55-46AC-9622-DEA04AE46E46">
				<File Id="filelibmysqlDLL" Name="libmysql.dll" Source="Files\libmysql.dll" />
			</Component>
			<Component Id="ntwdblibDLL" DiskId="1" Guid="7FA2C1EB-5166-4D16-AD36-DEF92A491D8B">
				<File Id="filentwdblibDLL" Name="ntwdblib.dll" Source="Files\ntwdblib.dll" />
			</Component>
			<Component Id="msqlDLL" DiskId="1" Guid="C37BB17E-8C9D-4FB6-AD40-100BDDFDADD5">
				<File Id="filemsqlDLL" Name="msql.dll" Source="Files\msql.dll" />
			</Component>
			<Component Id="ssleay32DLL" DiskId="1" Guid="D7E5F122-9764-4165-BDDA-922D60408C2F">
				<File Id="filessleay32DLL" Name="ssleay32.dll" Source="Files\ssleay32.dll" />
			</Component>
			<Component Id="yazDLL" DiskId="1" Guid="4C0CE69A-DBE4-4294-88CC-F6E82A3CFCD1">
				<File Id="fileyazSLL" Name="yaz.dll" Source="Files\yaz.dll" />
			</Component>
			<Component Id="libswisheDLL" DiskId="1" Guid="4F1FD404-B722-4A1E-997A-474B6F001420">
				<File Id="filelibswisheDLL" Name="LIBSWI_1.DLL" LongName="libswish-e.dll" Source="Files\libswish-e.dll" />
			</Component>
			<Component Id="fribidiDLL" DiskId="1" Guid="D08A7C40-924B-45B2-8053-C6A5117846B2">
				<File Id="filefribidiDLL" Name="fribidi.dll" Source="Files\fribidi.dll" />
			</Component>
			<Directory Id="extdirectory" Name="ext">
				<Component Id="extdir" DiskId="1" Guid="3AB11270-4135-4C8C-9578-B034CEF2659F">
					<IniFile Id="extdirINI" Action="addLine" 
							Key="extension_dir" Directory="INSTALLDIR" Name="php.ini"
							Section="PHP" Value="&quot;[INSTALLDIR]ext&quot;" />
				</Component>
			</Directory>
            <Directory Id="extrasdirectory" Name="extras">
				<Component Id="magicMIME" DiskId="1" Guid="C29559A6-DE77-4951-A8F8-6266B790DE20">
					<File Id="filemagicMIME" Name="MAGIC_1.MIM" LongName="magic.mime" Source="Files\extras\magic.mime" />
				</Component>
				<Directory Id="openssldirectory" Name="openssl">
					<Component Id="opensslCNF" DiskId="1" Guid="0460291A-A0BA-4662-946E-3832BAB70881">
						<File Id="fileopensslCNF" Name="openssl.cnf" Source="Files\extras\openssl\openssl.cnf" />
					</Component>
					<Component Id="READMESSLTXT" DiskId="1" Guid="2E97C140-AFDA-4235-BF37-5F9FD6C52F57">
						<File Id="fileREADMESSLTXT" Name="README_1.TXT" LongName="README-SSL.txt" Source="Files\extras\openssl\README-SSL.txt" />
					</Component>
				</Directory>
				<Directory Id="pdfrelateddirectory" Name="PDF-RE_1" LongName="pdf-related">
					<Component Id="PDFSupport" DiskId="1" Guid="47C794BB-250C-4235-89A8-B192C994B98B">
						<File Id="filePDFSupport1" Name="COPYRI_1.TXT" LongName="copyright.txt" Source="Files\extras\pdf-related\copyright.txt" />
						<File Id="filePDFSupport2" Name="COURIE_1.AFM" LongName="Courier-Bold.afm" Source="Files\extras\pdf-related\Courier-Bold.afm" />
						<File Id="filePDFSupport3" Name="COURIE_2.AFM" LongName="Courier-BoldOblique.afm" Source="Files\extras\pdf-related\Courier-BoldOblique.afm" />
						<File Id="filePDFSupport4" Name="COURIE_3.AFM" LongName="Courier-Oblique.afm" Source="Files\extras\pdf-related\Courier-Oblique.afm" />
						<File Id="filePDFSupport5" Name="Courier.afm" Source="Files\extras\pdf-related\Courier.afm" />
						<File Id="filePDFSupport6" Name="cp1250.cpg" Source="Files\extras\pdf-related\cp1250.cpg" />
						<File Id="filePDFSupport7" Name="cp1250.enc" Source="Files\extras\pdf-related\cp1250.enc" />
						<File Id="filePDFSupport8" Name="cp1251.cpg" Source="Files\extras\pdf-related\cp1251.cpg" />
						<File Id="filePDFSupport9" Name="cp1252.cpg" Source="Files\extras\pdf-related\cp1252.cpg" />
						<File Id="filePDFSupport10" Name="cp1253.cpg" Source="Files\extras\pdf-related\cp1253.cpg" />
						<File Id="filePDFSupport11" Name="cp1254.cpg" Source="Files\extras\pdf-related\cp1254.cpg" />
						<File Id="filePDFSupport12" Name="cp1255.cpg" Source="Files\extras\pdf-related\cp1255.cpg" />
						<File Id="filePDFSupport13" Name="cp1256.cpg" Source="Files\extras\pdf-related\cp1256.cpg" />
						<File Id="filePDFSupport14" Name="cp1257.cpg" Source="Files\extras\pdf-related\cp1257.cpg" />
						<File Id="filePDFSupport15" Name="cp1258.cpg" Source="Files\extras\pdf-related\cp1258.cpg" />
						<File Id="filePDFSupport16" Name="HELVET_1.AFM" LongName="Helvetica-Bold.afm" Source="Files\extras\pdf-related\Helvetica-Bold.afm" />
						<File Id="filePDFSupport17" Name="HELVET_2.AFM" LongName="Helvetica-BoldOblique.afm" Source="Files\extras\pdf-related\Helvetica-BoldOblique.afm" />
						<File Id="filePDFSupport18" Name="HELVET_3.AFM" LongName="Helvetica-Oblique.afm" Source="Files\extras\pdf-related\Helvetica-Oblique.afm" />
						<File Id="filePDFSupport19" Name="HELVET_4.AFM" LongName="Helvetica.afm" Source="Files\extras\pdf-related\Helvetica.afm" />
						<File Id="filePDFSupport20" Name="ISO885_1.CPG" LongName="iso8859-10.cpg" Source="Files\extras\pdf-related\iso8859-10.cpg" />
						<File Id="filePDFSupport21" Name="ISO885_2.CPG" LongName="iso8859-13.cpg" Source="Files\extras\pdf-related\iso8859-13.cpg" />
						<File Id="filePDFSupport22" Name="ISO885_3.CPG" LongName="iso8859-14.cpg" Source="Files\extras\pdf-related\iso8859-14.cpg" />
						<File Id="filePDFSupport23" Name="ISO885_4.CPG" LongName="iso8859-15.cpg" Source="Files\extras\pdf-related\iso8859-15.cpg" />
						<File Id="filePDFSupport24" Name="ISO885_1.ENC" LongName="iso8859-15.enc" Source="Files\extras\pdf-related\iso8859-15.enc" />
						<File Id="filePDFSupport25" Name="ISEA77_1.CPG" LongName="iso8859-16.cpg" Source="Files\extras\pdf-related\iso8859-16.cpg" />
						<File Id="filePDFSupport26" Name="ISB090_1.CPG" LongName="iso8859-2.cpg" Source="Files\extras\pdf-related\iso8859-2.cpg" />
						<File Id="filePDFSupport27" Name="ISO885_2.ENC" LongName="iso8859-2.enc" Source="Files\extras\pdf-related\iso8859-2.enc" />
						<File Id="filePDFSupport28" Name="ISB490_1.CPG" LongName="iso8859-3.cpg" Source="Files\extras\pdf-related\iso8859-3.cpg" />
						<File Id="filePDFSupport29" Name="ISB890_1.CPG" LongName="iso8859-4.cpg" Source="Files\extras\pdf-related\iso8859-4.cpg" />
						<File Id="filePDFSupport30" Name="ISBC90_1.CPG" LongName="iso8859-5.cpg" Source="Files\extras\pdf-related\iso8859-5.cpg" />
						<File Id="filePDFSupport31" Name="ISB0A0_1.CPG" LongName="iso8859-6.cpg" Source="Files\extras\pdf-related\iso8859-6.cpg" />
						<File Id="filePDFSupport32" Name="ISB4A0_1.CPG" LongName="iso8859-7.cpg" Source="Files\extras\pdf-related\iso8859-7.cpg" />
						<File Id="filePDFSupport33" Name="ISB8A0_1.CPG" LongName="iso8859-8.cpg" Source="Files\extras\pdf-related\iso8859-8.cpg" />
						<File Id="filePDFSupport34" Name="ISBCA0_1.CPG" LongName="iso8859-9.cpg" Source="Files\extras\pdf-related\iso8859-9.cpg" />
						<File Id="filePDFSupport35" Name="ISO885_3.ENC" LongName="iso8859-9.enc" Source="Files\extras\pdf-related\iso8859-9.enc" />
						<File Id="filePDFSupport36" Name="lcdxsr.afm" Source="Files\extras\pdf-related\lcdxsr.afm" />
						<File Id="filePDFSupport37" Name="lcdxsr.pfa" Source="Files\extras\pdf-related\lcdxsr.pfa" />
						<File Id="filePDFSupport38" Name="pdflib.upr" Source="Files\extras\pdf-related\pdflib.upr" />
						<File Id="filePDFSupport39" Name="PRINT__1.PS" LongName="print_glyphs.ps" Source="Files\extras\pdf-related\print_glyphs.ps" />
						<File Id="filePDFSupport40" Name="Symbol.afm" Source="Files\extras\pdf-related\Symbol.afm" />
						<File Id="filePDFSupport41" Name="TIMES-_1.AFM" LongName="Times-Bold.afm" Source="Files\extras\pdf-related\Times-Bold.afm" />
						<File Id="filePDFSupport42" Name="TIMES-_2.AFM" LongName="Times-BoldItalic.afm" Source="Files\extras\pdf-related\Times-BoldItalic.afm" />
						<File Id="filePDFSupport43" Name="TIMES-_3.AFM" LongName="Times-Italic.afm" Source="Files\extras\pdf-related\Times-Italic.afm" />
						<File Id="filePDFSupport44" Name="TIMES-_4.AFM" LongName="Times-Roman.afm" Source="Files\extras\pdf-related\Times-Roman.afm" />
						<File Id="filePDFSupport45" Name="ZAPFDI_1.AFM" LongName="ZapfDingbats.afm" Source="Files\extras\pdf-related\ZapfDingbats.afm" />
					</Component>
				</Directory>
			</Directory>
		</DirectoryRef>
        <DirectoryRef Id="mibsdirectory">
            <Component Id="mibsdir" DiskId="1" Guid="21B96C70-3A1E-11DC-8314-0800200C9A66">
                <File Id="mibsfile1" Name="AGENTX_1.TXT" LongName="AGENTX-MIB.txt" Source="Files\extras\mibs\AGENTX-MIB.txt" />
                <File Id="mibsfile2" Name="DISMAN_1.TXT" LongName="DISMAN-SCHEDULE-MIB.txt" Source="Files\extras\mibs\DISMAN-SCHEDULE-MIB.txt" />
                <File Id="mibsfile3" Name="DISMAN_2.TXT" LongName="DISMAN-SCRIPT-MIB.txt" Source="Files\extras\mibs\DISMAN-SCRIPT-MIB.txt" />
                <File Id="mibsfile4" Name="ETHERL_1.TXT" LongName="EtherLike-MIB.txt" Source="Files\extras\mibs\EtherLike-MIB.txt" />
                <File Id="mibsfile5" Name="HCNUM-TC.txt" Source="Files\extras\mibs\HCNUM-TC.txt" />
                <File Id="mibsfile6" Name="HOST-R_1.TXT" LongName="HOST-RESOURCES-MIB.txt" Source="Files\extras\mibs\HOST-RESOURCES-MIB.txt" />
                <File Id="mibsfile7" Name="HOST-R_2.TXT" LongName="HOST-RESOURCES-TYPES.txt" Source="Files\extras\mibs\HOST-RESOURCES-TYPES.txt" />
                <File Id="mibsfile8" Name="IANA-A_1.TXT" LongName="IANA-ADDRESS-FAMILY-NUMBERS-MIB.txt" Source="Files\extras\mibs\IANA-ADDRESS-FAMILY-NUMBERS-MIB.txt" />
                <File Id="mibsfile9" Name="IANA-L_1.TXT" LongName="IANA-LANGUAGE-MIB.txt" Source="Files\extras\mibs\IANA-LANGUAGE-MIB.txt" />
                <File Id="mibsfile10" Name="IANAIF_1.TXT" LongName="IANAifType-MIB.txt" Source="Files\extras\mibs\IANAifType-MIB.txt" />
                <File Id="mibsfile11" Name="IF-INV_1.TXT" LongName="IF-INVERTED-STACK-MIB.txt" Source="Files\extras\mibs\IF-INVERTED-STACK-MIB.txt" />
                <File Id="mibsfile12" Name="IF-MIB.txt" Source="Files\extras\mibs\IF-MIB.txt" />
                <File Id="mibsfile13" Name="INET-A_1.TXT" LongName="INET-ADDRESS-MIB.txt" Source="Files\extras\mibs\INET-ADDRESS-MIB.txt" />
                <File Id="mibsfile14" Name="IP-FOR_1.TXT" LongName="IP-FORWARD-MIB.txt" Source="Files\extras\mibs\IP-FORWARD-MIB.txt" />
                <File Id="mibsfile15" Name="IP-MIB.txt" Source="Files\extras\mibs\IP-MIB.txt" />
                <File Id="mibsfile16" Name="IPV6-I_1.TXT" LongName="IPV6-ICMP-MIB.txt" Source="Files\extras\mibs\IPV6-ICMP-MIB.txt" />
                <File Id="mibsfile17" Name="IPV6-MIB.txt" Source="Files\extras\mibs\IPV6-MIB.txt" />
                <File Id="mibsfile18" Name="IPV6-TC.txt" Source="Files\extras\mibs\IPV6-TC.txt" />
                <File Id="mibsfile19" Name="IPV6-T_1.TXT" LongName="IPV6-TCP-MIB.txt" Source="Files\extras\mibs\IPV6-TCP-MIB.txt" />
                <File Id="mibsfile20" Name="IPV6-U_1.TXT" LongName="IPV6-UDP-MIB.txt" Source="Files\extras\mibs\IPV6-UDP-MIB.txt" />
                <File Id="mibsfile21" Name="MTA-MIB.txt" Source="Files\extras\mibs\MTA-MIB.txt" />
                <File Id="mibsfile22" Name="NETWOR_1.TXT" LongName="NETWORK-SERVICES-MIB.txt" Source="Files\extras\mibs\NETWORK-SERVICES-MIB.txt" />
                <File Id="mibsfile23" Name="output.txt" Source="Files\extras\mibs\output.txt" />
                <File Id="mibsfile24" Name="RFC-1215.txt" Source="Files\extras\mibs\RFC-1215.txt" />
                <File Id="mibsfile25" Name="RFC115_1.TXT" LongName="RFC1155-SMI.txt" Source="Files\extras\mibs\RFC1155-SMI.txt" />
                <File Id="mibsfile26" Name="RFC121_1.TXT" LongName="RFC1213-MIB.txt" Source="Files\extras\mibs\RFC1213-MIB.txt" />
                <File Id="mibsfile27" Name="RMON-MIB.txt" Source="Files\extras\mibs\RMON-MIB.txt" />
                <File Id="mibsfile28" Name="SMUX-MIB.txt" Source="Files\extras\mibs\SMUX-MIB.txt" />
                <File Id="mibsfile29" Name="SNMP-C_1.TXT" LongName="SNMP-COMMUNITY-MIB.txt" Source="Files\extras\mibs\SNMP-COMMUNITY-MIB.txt" />
                <File Id="mibsfile30" Name="SNMP-F_1.TXT" LongName="SNMP-FRAMEWORK-MIB.txt" Source="Files\extras\mibs\SNMP-FRAMEWORK-MIB.txt" />
                <File Id="mibsfile31" Name="SNMP-M_1.TXT" LongName="SNMP-MPD-MIB.txt" Source="Files\extras\mibs\SNMP-MPD-MIB.txt" />
                <File Id="mibsfile32" Name="SNMP-N_1.TXT" LongName="SNMP-NOTIFICATION-MIB.txt" Source="Files\extras\mibs\SNMP-NOTIFICATION-MIB.txt" />
                <File Id="mibsfile33" Name="SNMP-P_1.TXT" LongName="SNMP-PROXY-MIB.txt" Source="Files\extras\mibs\SNMP-PROXY-MIB.txt" />
                <File Id="mibsfile34" Name="SNMP-T_1.TXT" LongName="SNMP-TARGET-MIB.txt" Source="Files\extras\mibs\SNMP-TARGET-MIB.txt" />
                <File Id="mibsfile35" Name="SNMP-U_1.TXT" LongName="SNMP-USER-BASED-SM-MIB.txt" Source="Files\extras\mibs\SNMP-USER-BASED-SM-MIB.txt" />
                <File Id="mibsfile36" Name="SNMP-V_1.TXT" LongName="SNMP-VIEW-BASED-ACM-MIB.txt" Source="Files\extras\mibs\SNMP-VIEW-BASED-ACM-MIB.txt" />
                <File Id="mibsfile37" Name="SNMPV2_1.TXT" LongName="SNMPv2-CONF.txt" Source="Files\extras\mibs\SNMPv2-CONF.txt" />
                <File Id="mibsfile38" Name="SNMPV2_2.TXT" LongName="SNMPv2-MIB.txt" Source="Files\extras\mibs\SNMPv2-MIB.txt" />
                <File Id="mibsfile39" Name="SNMPV2_3.TXT" LongName="SNMPv2-SMI.txt" Source="Files\extras\mibs\SNMPv2-SMI.txt" />
                <File Id="mibsfile40" Name="SNMPV2_4.TXT" LongName="SNMPv2-TC.txt" Source="Files\extras\mibs\SNMPv2-TC.txt" />
                <File Id="mibsfile41" Name="SNC4A1_1.TXT" LongName="SNMPv2-TM.txt" Source="Files\extras\mibs\SNMPv2-TM.txt" />
                <File Id="mibsfile42" Name="TCP-MIB.txt" Source="Files\extras\mibs\TCP-MIB.txt" />
                <File Id="mibsfile43" Name="TUNNEL_1.TXT" LongName="TUNNEL-MIB.txt" Source="Files\extras\mibs\TUNNEL-MIB.txt" />
                <File Id="mibsfile44" Name="UCD-DE_1.INC" LongName="UCD-DEMO-MIB.inc" Source="Files\extras\mibs\UCD-DEMO-MIB.inc" />
                <File Id="mibsfile45" Name="UCD-DE_1.TXT" LongName="UCD-DEMO-MIB.txt" Source="Files\extras\mibs\UCD-DEMO-MIB.txt" />
                <File Id="mibsfile46" Name="UCD-DI_1.INC" LongName="UCD-DISKIO-MIB.inc" Source="Files\extras\mibs\UCD-DISKIO-MIB.inc" />
                <File Id="mibsfile47" Name="UCD-DI_1.TXT" LongName="UCD-DISKIO-MIB.txt" Source="Files\extras\mibs\UCD-DISKIO-MIB.txt" />
                <File Id="mibsfile48" Name="UCD-DL_1.INC" LongName="UCD-DLMOD-MIB.inc" Source="Files\extras\mibs\UCD-DLMOD-MIB.inc" />
                <File Id="mibsfile49" Name="UCD-DL_1.TXT" LongName="UCD-DLMOD-MIB.txt" Source="Files\extras\mibs\UCD-DLMOD-MIB.txt" />
                <File Id="mibsfile50" Name="UCD-IP_1.INC" LongName="UCD-IPFILTER-MIB.inc" Source="Files\extras\mibs\UCD-IPFILTER-MIB.inc" />
                <File Id="mibsfile51" Name="UCD-IP_1.TXT" LongName="UCD-IPFILTER-MIB.txt" Source="Files\extras\mibs\UCD-IPFILTER-MIB.txt" />
                <File Id="mibsfile52" Name="UCD-IP_2.INC" LongName="UCD-IPFWACC-MIB.inc" Source="Files\extras\mibs\UCD-IPFWACC-MIB.inc" />
                <File Id="mibsfile53" Name="UCD-IP_2.TXT" LongName="UCD-IPFWACC-MIB.txt" Source="Files\extras\mibs\UCD-IPFWACC-MIB.txt" />
                <File Id="mibsfile54" Name="UCD-SN_1.TXT" LongName="UCD-SNMP-MIB-OLD.txt" Source="Files\extras\mibs\UCD-SNMP-MIB-OLD.txt" />
                <File Id="mibsfile55" Name="UCD-SN_1.INC" LongName="UCD-SNMP-MIB.inc" Source="Files\extras\mibs\UCD-SNMP-MIB.inc" />
                <File Id="mibsfile56" Name="UCD-SN_2.TXT" LongName="UCD-SNMP-MIB.txt" Source="Files\extras\mibs\UCD-SNMP-MIB.txt" />
                <File Id="mibsfile57" Name="UDP-MIB.txt" Source="Files\extras\mibs\UDP-MIB.txt" />
            </Component>
         </DirectoryRef>
	</Fragment>
</Wix>
