<?xml version='1.0' encoding='iso-8859-1'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2003/01/wi'>
	<Fragment Id='FragmentExtensions'>
		<DirectoryRef Id='INSTALLDIR'>
			<Component Id="fdftkDLL" DiskId="1" Guid="C54716D6-F1C6-4366-AD1E-8C2DB1686801">
				<File Id="filefdftkDLL" Name="fdftk.dll" Source="Files\fdftk.dll" />
			</Component>
			<Component Id="gds32DLL" DiskId="1" Guid="D70180EF-1AE2-45FF-B79F-DF16056F972D">
				<File Id="filegds32DLL" Name="gds32.dll" Source="Files\gds32.dll" />
			</Component>
			<Component Id="libeay32DLL" DiskId="1" Guid="1BF3C9B6-6495-476E-85B8-2843B5F5458D">
				<File Id="filelibeay32DLL" Name="libeay32.dll" Source="Files\libeay32.dll" />
			</Component>
			<Component Id="libmcryptDLL" DiskId="1" Guid="34402BFF-5D45-4A07-89EF-C71F4DF3D9BF">
				<File Id="filelibmcryptDLL" Name="LIBMCR_1.DLL" LongName="libmcrypt.dll" Source="Files\libmcrypt.dll" />
			</Component>
			<Component Id="libmysqlDLL" DiskId="1" Guid="4726DE50-BC55-46AC-9622-DEA04AE46E46">
				<File Id="filelibmysqlDLL" Name="libmysql.dll" Source="Files\libmysql.dll" />
			</Component>
			<Component Id="libenchantDLL" DiskId="1" Guid="E27E4C40-156D-11DE-8C30-0800200C9A66">
				<File Id="filelibenchantDLL" Name="LIBENC_1.DLL" LongName="libenchant.dll" Source="Files\libenchant.dll" />
			</Component>
			<Component Id="ntwdblibDLL" DiskId="1" Guid="7FA2C1EB-5166-4D16-AD36-DEF92A491D8B">
				<File Id="filentwdblibDLL" Name="ntwdblib.dll" Source="Files\ntwdblib.dll" />
			</Component>
			<Component Id="msqlDLL" DiskId="1" Guid="C37BB17E-8C9D-4FB6-AD40-100BDDFDADD5">
				<File Id="filemsqlDLL" Name="msql.dll" Source="Files\msql.dll" />
			</Component>
			<Component Id="libpqDLL" DiskId="1" Guid="6C109270-64B0-11DD-AD8B-0800200C9A66">
				<File Id="filelibpqDLL" Name="libpq.dll" Source="Files\libpq.dll" />
			</Component>
			<Component Id="ssleay32DLL" DiskId="1" Guid="D7E5F122-9764-4165-BDDA-922D60408C2F">
				<File Id="filessleay32DLL" Name="ssleay32.dll" Source="Files\ssleay32.dll" />
			</Component>
			<Component Id="yazDLL" DiskId="1" Guid="4C0CE69A-DBE4-4294-88CC-F6E82A3CFCD1">
				<File Id="fileyazSLL" Name="yaz.dll" Source="Files\yaz.dll" />
			</Component>
			<Component Id="libswisheDLL" DiskId="1" Guid="4F1FD404-B722-4A1E-997A-474B6F001420">
				<File Id="filelibswisheDLL" Name="LIBSWI_1.DLL" LongName="libswish-e.dll" Source="Files\libswish-e.dll" />
			</Component>
			<Component Id="fribidiDLL" DiskId="1" Guid="D08A7C40-924B-45B2-8053-C6A5117846B2">
				<File Id="filefribidiDLL" Name="fribidi.dll" Source="Files\fribidi.dll" />
			</Component>
			<Component Id="icudtDLL" DiskId="1" Guid="6370818E-7072-11DD-A88E-285D55D89593">
				<File Id="fileicudtDLL" Name="icudt36.dll" Source="Files\icudt36.dll" />
			</Component>
			<Component Id="icuinDLL" DiskId="1" Guid="6A57F7AC-7072-11DD-86B2-645D55D89593">
				<File Id="fileicuinDLL" Name="icuin36.dll" Source="Files\icuin36.dll" />
			</Component>
			<Component Id="icuioDLL" DiskId="1" Guid="705AA974-7072-11DD-AC26-CE5D55D89593">
				<File Id="fileicuioDLL" Name="icuio36.dll" Source="Files\icuio36.dll" />
			</Component>
			<Component Id="iculeDLL" DiskId="1" Guid="7729BDA8-7072-11DD-ADF2-165E55D89593">
				<File Id="fileiculeDLL" Name="icule36.dll" Source="Files\icule36.dll" />
			</Component>
			<Component Id="iculxDLL" DiskId="1" Guid="7E7C2D16-7072-11DD-B66F-5F5E55D89593">
				<File Id="fileiculxDLL" Name="iculx36.dll" Source="Files\iculx36.dll" />
			</Component>
			<Component Id="icutuDLL" DiskId="1" Guid="83707DAE-7072-11DD-8A63-B75E55D89593">
				<File Id="fileicutuDLL" Name="icutu36.dll" Source="Files\icutu36.dll" />
			</Component>
			<Component Id="icuucDLL" DiskId="1" Guid="93D0C0BE-7072-11DD-B624-6F5F55D89593">
				<File Id="fileicuucDLL" Name="icuuc36.dll" Source="Files\icuuc36.dll" />
			</Component>
			<Directory Id="extdirectory" Name="ext">
				<Component Id="extdir" DiskId="1" Guid="3AB11270-4135-4C8C-9578-B034CEF2659F">
					<IniFile Id="extdirINI" Action="addLine" 
							Key="extension_dir" Directory="INSTALLDIR" Name="php.ini"
							Section="PHP" Value="&quot;[INSTALLDIR]ext&quot;" />
				</Component>
			</Directory>
            <Directory Id="extrasdirectory" Name="extras">
			</Directory>
		</DirectoryRef>
	</Fragment>
</Wix>
