<?xml version='1.0' encoding='windows-1252'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
  <Fragment Id='FragmentWebServerConfig'>
    <DirectoryRef Id='INSTALLDIR'>

      <Component Id="php5apache2_4DLL" DiskId="1" Guid="1807E57D-B573-499E-B354-9B19A0408206">
        <File Id="filephp5apache2_4_DLL" Name="php5apache2_4.dll" Source="Files\php5apache2_4.dll" />
      </Component>
      <Component Id="cgiforceredirect" DiskId="1" Guid="0A2DD92F-AFCC-417B-B909-395F9D3B79F5">
        <IniFile Id="cgiforceredirectINI" Action="addLine" 
          Key="cgi.force_redirect" Directory="INSTALLDIR" Name="php.ini"
          Section="PHP" Value="0" />
      </Component>
      <Component Id="cgifixpathinfo" DiskId="1" Guid="E2DBFF96-1551-4928-9D2E-A62E536B2B60">
        <IniFile Id="cgifixpathinfoINI" Action="addLine" 
          Key="cgi.fix_pathinfo" Directory="INSTALLDIR" Name="php.ini"
          Section="PHP" Value="1" />
      </Component>
      <Component Id="fastcgiimpersonate" DiskId="1" Guid="61290EEB-616B-4434-8283-D7BDC7008D25">
        <IniFile Id="fastcgiimpersonateINI" Action="addLine"
          Key="fastcgi.impersonate" Directory="INSTALLDIR" Name="php.ini"
          Section="PHP" Value="1"/>
      </Component>
      <Component Id="fastcgilogging" DiskId="1" Guid="218C8790-7233-11DE-8A39-0800200C9A66">
        <IniFile Id="fastcgiloggingINI" Action="addLine"
          Key="fastcgi.logging" Directory="INSTALLDIR" Name="php.ini"
          Section="PHP" Value="0"/>
      </Component>
      <Component Id="maxexecutiontime" DiskId="1" Guid="5C6D1771-0D27-42C3-946B-3E0E138CF5DA">
        <IniFile Id="maxexecutiontimeINI" Action="addLine"
          Key="max_execution_time" Directory="INSTALLDIR" Name="php.ini"
          Section="PHP" Value="300"/>
      </Component>
      <Component Id="iis3CGI" DiskId="1" Guid="20842834-47E2-483C-AE09-B4E90C12E314">
        <Registry Id="iis3RegScriptMap" 
          Root="HKLM"
          Key="SYSTEM\CurrentControlSet\Services\w3svc\parameters\Script Map\.php" 
          Action="write" 
          Type="string" 
          Name="[!INSTALLDIR]\php-cgi.exe" />
        <Condition><![CDATA[VersionNT < 500]]></Condition>
      </Component>
      <Component Id="xitamiINI" DiskId="1" Guid="5C27D17C-3624-11DC-93BF-A48455D89593">
        <IniFile Id="xitamuINIFilter" Action="addLine" 
          Key=".php" Directory="XITAMIDIR" Name="defaults.cfg"
          Section="Filter" Value="[!INSTALLDIR]\php-cgi.exe" />
        <Condition>XITAMIDIR</Condition>
      </Component>
      <Component Id="sambarINI" DiskId="1" Guid="629031D0-3624-11DC-ACF8-B08455D89593">
        <IniFile Id="sambarINIMappings" Action="addLine" 
          Key="*.php" Directory="SAMBARDIR" Name="mappings.ini"
          Section="ISAPI" Value="[!INSTALLDIR]\php5isapi.dll" />
        <Condition>SAMBARDIR</Condition>
      </Component>
      <Component Id="apache24registry" 
        DiskId="1" 
        Guid="1F803C8E-F077-4B41-A168-81196146CBE9">
        <Registry Id='apache24registryApacheDir' 
          Root='HKLM' 
          Key='Software\PHP' 
          Name='ApacheDir'
          Action='write' 
          Type='string' 
          Value='[APACHEDIR]' />
        <Registry Id="apache24registryWebServerType" 
          Root="HKLM" 
          Key="Software\PHP" 
          Name="WebServerType"
          Action="write" 
          Type="string" 
          Value="apache24"/>  
      </Component>
      <Component Id="apacheCGIregistry" 
        DiskId="1" 
        Guid="6B49A090-49A4-11DC-8314-0800200C9A66">
        <Registry Id='apacheCGIregistryApacheDir' 
          Root='HKLM' 
          Key='Software\PHP' 
          Name='ApacheDir'
          Action='write' 
          Type='string' 
          Value='[APACHEDIR]' />
        <Registry Id="apacheCGIregistryWebServerType" 
          Root="HKLM" 
          Key="Software\PHP" 
          Name="WebServerType"
          Action="write" 
          Type="string" 
          Value="apacheCGI"/>  
      </Component>
      <Component Id="iis4CGIregistry" 
        DiskId="1" 
        Guid="6B49A092-49A4-11DC-8314-0800200C9A66">
        <Registry Id="iis4CGIregistryWebServerType" 
          Root="HKLM" 
          Key="Software\PHP" 
          Name="WebServerType"
          Action="write" 
          Type="string" 
          Value="iis4CGI"/>  
      </Component>
      <Component Id="iis4FastCGIregistry" 
        DiskId="1" 
        Guid="36F5E036-6DDF-11DC-8314-0800200C9A66">
        <Registry Id="iis4FastCGIregistryWebServerType" 
          Root="HKLM" 
          Key="Software\PHP" 
          Name="WebServerType"
          Action="write" 
          Type="string" 
          Value="iis4FastCGI"/>  
      </Component>
      <Component Id="nsapiregistry" 
        DiskId="1" 
        Guid="6B49A093-49A4-11DC-8314-0800200C9A66">
        <Registry Id="nsapiregistryWebServerType" 
          Root="HKLM" 
          Key="Software\PHP" 
          Name="WebServerType"
          Action="write" 
          Type="string" 
          Value="nsapi"/>  
      </Component>
      <Component Id="xitamiregistry" 
        DiskId="1" 
        Guid="6B49A094-49A4-11DC-8314-0800200C9A66">
        <Registry Id="xitamiregistryWebServerType" 
          Root="HKLM" 
          Key="Software\PHP" 
          Name="WebServerType"
          Action="write" 
          Type="string" 
          Value="xitami"/>  
      </Component>
      <Component Id="sambarregistry" 
        DiskId="1" 
        Guid="6B49A095-49A4-11DC-8314-0800200C9A66">
        <Registry Id="sambarregistryWebServerType" 
          Root="HKLM" 
          Key="Software\PHP" 
          Name="WebServerType"
          Action="write" 
          Type="string" 
          Value="sambar"/>  
      </Component>
      <Component Id="cgiregistry" 
        DiskId="1" 
        Guid="6B49A096-49A4-11DC-8314-0800200C9A66">
        <Registry Id="cgiregistryWebServerType" 
          Root="HKLM" 
          Key="Software\PHP" 
          Name="WebServerType"
          Action="write" 
          Type="string" 
          Value="cgi"/>  
      </Component>
      <Component Id="noconfigregistry" 
        DiskId="1" 
        Guid="6B49A097-49A4-11DC-8314-0800200C9A66">
        <Registry Id="noconfigregistryWebServerType" 
          Root="HKLM" 
          Key="Software\PHP" 
          Name="WebServerType"
          Action="write" 
          Type="string" 
          Value="noconfig"/>  
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>
