<?xml version='1.0' encoding='windows-1252'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2003/01/wi'>
  <Fragment Id='FragmentWebServerConfig'>
    <DirectoryRef Id='INSTALLDIR'>
      <Component Id="cgiforceredirect" DiskId="1" Guid="0A2DD92F-AFCC-417B-B909-395F9D3B79F5">
        <IniFile Id="cgiforceredirectINI" Action="addLine" 
          Key="cgi.force_redirect" Directory="INSTALLDIR" Name="php.ini"
          Section="PHP" Value="0" />
      </Component>
      <Component Id="fastcgiimpersonate" DiskId="1" Guid="61290EEB-616B-4434-8283-D7BDC7008D25">
        <IniFile Id="fastcgiimpersonateINI" Action="addLine"
          Key="fastcgi.impersonate" Directory="INSTALLDIR" Name="php.ini"
          Section="PHP" Value="1"/>
      </Component>
      <Component Id="fastcgilogging" DiskId="1" Guid="218C8790-7233-11DE-8A39-0800200C9A66">
        <IniFile Id="fastcgiloggingINI" Action="addLine"
          Key="fastcgi.logging" Directory="INSTALLDIR" Name="php.ini"
          Section="PHP" Value="0"/>
      </Component>
      <Component Id="maxexecutiontime" DiskId="1" Guid="5C6D1771-0D27-42C3-946B-3E0E138CF5DA">
        <IniFile Id="maxexecutiontimeINI" Action="addLine"
          Key="max_execution_time" Directory="INSTALLDIR" Name="php.ini"
          Section="PHP" Value="300"/>
      </Component>
      <Component Id="iis4FastCGIregistry" 
        DiskId="1" 
        Guid="36F5E036-6DDF-11DC-8314-0800200C9A66">
        <Registry Id="iis4FastCGIregistryWebServerType" 
          Root="HKLM" 
          Key="Software\PHP" 
          Name="WebServerType"
          Action="write" 
          Type="string" 
          Value="iis4FastCGI"/>  
      </Component>
      <Component Id="cgiregistry" 
        DiskId="1" 
        Guid="6B49A096-49A4-11DC-8314-0800200C9A66">
        <Registry Id="cgiregistryWebServerType" 
          Root="HKLM" 
          Key="Software\PHP" 
          Name="WebServerType"
          Action="write" 
          Type="string" 
          Value="cgi"/>  
      </Component>
      <Component Id="noconfigregistry" 
        DiskId="1" 
        Guid="6B49A097-49A4-11DC-8314-0800200C9A66">
        <Registry Id="noconfigregistryWebServerType" 
          Root="HKLM" 
          Key="Software\PHP" 
          Name="WebServerType"
          Action="write" 
          Type="string" 
          Value="noconfig"/>  
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>
